body {
  margin: 0px;
  background-color: var(--amplify-colors-neutral-20)
}

/* Override amplify ui text style */
.amplify-heading--1,
.amplify-heading--2 {
  font-family: "Playfair Display Variable", sans-serif;
  color: var(--amplify-colors-neutral-90);
}

.amplify-heading--3,
.amplify-heading--4,
.amplify-heading--5,
.amplify-heading--6,
.amplify-text {
  font-family: "Poppins", sans-serif;
  color: var(--amplify-colors-neutral-90);
}

.amplify-heading--1 {
  font-weight: 700;
  line-height: 140%; /* 78.4px */
  letter-spacing: 1.12px;
}

.amplify-heading--2 {
  font-weight: 600;
  line-height: 140%; /* 56px */
  letter-spacing: 0.8px;
}

.amplify-heading--3 {
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: 0.64px;
}

.amplify-heading--4 {
  font-weight: 500;
  line-height: 150%; /* 42px */
  letter-spacing: 0.56px;
}

.amplify-heading--5 {
  font-weight: 700;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
}

.amplify-heading--6 {
  font-weight: 500;
  line-height: 150%; /* 30px */
  letter-spacing: 0.4px;
}

.amplify-text {
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  letter-spacing: 0.54px;
}
